// Mantis colours
$v-mantis-light-green: #3baa34;
$v-mantis-dark-green: #0c8e36;
$v-mantis-teal: #12a19b;
$v-mantis-dark-blue: #0f70b7;
$v-mantis-light-blue: #2daae2;
$v-mantis-dark-grey: #767676;
$v-mantis-light-grey: #eee;
$v-mantis-black: #1a1a1a;
$v-mantis-white: #f7f7f7;

// Global variable overrides. 
$v-font-family: "Roboto", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: $v-mantis-white;
$v-focus-color: $v-mantis-teal;
$v-luminance-threshold: 180;
$v-border: 1px solid v-shade;
$v-border-radius: 2px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: $v-mantis-light-grey;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mantis-theme {
  @include valo;
  
  // button overrides
  .v-button-primary.v-button-primary {
    background: #fff;
    border-color: $v-focus-color;
    color: $v-focus-color;
  }

  .v-button-danger.v-button-danger {
    background: #fff;
    border-color: $v-error-indicator-color;
    color: $v-error-indicator-color;
  }

  .v-slider-base:before,
  .v-slider-base:after {
    border: none !important;
  }
  
  // Insert your own theme rules here
  .v-panel-mantis-blue {
    color: white;
    background: $v-mantis-black;

    .v-button-primary {
      background: $v-mantis-light-blue;
      border-color: white;
      color: white;
    }
  }

  .v-label-footer {
    display:block;
    font-size: 12px;
    padding-left: 35px;
    background: $v-mantis-light-grey;
    padding-top: 3px;
  }

  .grid-stack-item-content {
    border: 1px solid #c9c9c9;
    border-radius: $v-border-radius;
  }

  .mantis-logo {
    height: 35px;
    padding-top: 10px;
  }

  .mantis-logo-login {
    height: 110px;
    margin-top: 20px;
  }

  .v-panel-extra-top-padding {
    padding-top: 20px !important;
  }
}

